@import "theme.css";

td,th,a,table{
	text-align: center !important;
}

#table {
  position: absolute;
  margin: 10px;
  margin-right: 300px;
  right: 10px;
  left: 0px;
  overflow: auto;
  top: 100px;
  /*text-align: center !important;*/
}
