@import "theme.css";


body > .ui.container {
  margin-top: 6em;
}
.offices {
  color: #fff;
}
.flags a {
  padding: 0.012em;
}

.ui.fixed.borderless.menu {
  z-index: 2;
  background-color: var(--color-header);
}

.ui .button {
  min-width: 100px;
}

.ui .item {
  color: #fff;
}

.ui .item:hover:not(#texts) {
  background: var(--color-itemHover) !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui .item.active {
  background: #00ba49;
  color: #fff;
  border-bottom: 1px solid #fff;
}


.ui.fixed.borderless.menu .row > a.header.item {
  font-size: 1.2em;
}
