body {
  /* min-height: 2000px; */
}
body > .ui.container {
  margin-top: 6em;
}
.offices {
  color: #fff;
}
.flags a {
  padding: 0.012em;
}
/* Nav */
.ui.fixed.borderless.menu {
  background-color: #4a008a;
}

.ui .button {
    min-width: 100px;
}

.ui .item {
  color: #fff;
}

.ui .item:hover {
  background: #6311aa !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui .item.active {
  background: #00ba49;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.ui.dropdown.item .menu {
  background-color: #4a008a !important;
}
.ui.menu .ui.dropdown .menu > .item {
  color: #fff !important;
}
.ui.menu .ui.dropdown .menu > .item.active {
  background-color: #00ba49 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}
.ui.menu .ui.dropdown .menu > .item:hover {
  background-color: #6311aa !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui.fixed.borderless.menu .row > a.header.item {
  font-size: 1.2em;
}

/* Mobile */
.tablet.mobile.only .header,
.ui.icon.button > .icon {
  color: #fff;
}

.tablet.mobile.only .header:hover {
  background-color: #6311aa !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui.basic.button:hover {
  background: #6311aa !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui.vertical.menu {
  display: none;
  border: none;
  box-shadow: none;
  background-color: #4a008a;
}
.ui.vertical.menu > .item {
  padding-left: 1.428em;
  color: #fff;
}

.ui.vertical.menu > .item.active {
  padding-left: 1.428em;
  background-color: #00ba49 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui.vertical.menu > .item:hover {
  padding-left: 1.428em;
  background-color: #6311aa !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}
.ui.vertical.menu .item .title {
  color: #fff;
}
.ui.vertical.menu .item .title .dropdown.icon {
  float: none;
  color: #fff;
}

.ui.vertical.menu .item .content .item {
  padding: 0.5em 1em;
  color: #fff;
}

.ui.vertical.menu .item .content .item:hover {
  padding: 0.5em 1em;
  background-color: #4a008a !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui.vertical.menu .item .content .item.active {
  padding: 0.5em 1em;
  background-color: #00ba49 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.ui.vertical.menu .header.item {
  text-transform: uppercase;
  color: #fff;
}
/* Nav */

.ui.message {
  background-color: rga(238, 238, 238);
  box-shadow: none;
  padding: 5em 4em;
}
.ui.message h1.ui.header {
  font-size: 4.5em;
  color: #4a008a;
}
.ui.message p.lead {
  font-size: 1.3em;
  color: #333333;
  line-height: 1.4;
  font-weight: 300;
}

.ui.purple.button {
  background-color: #4a008a;
}
