@import "theme.css";

*:not(.icon) {
  font-family: var(--font-family) !important;
}

td,
th,
a,
table {
  text-align: center !important;
}

#table {
  position: absolute;
  right: 300px;
  left: 0px;
  overflow: auto;
  height: calc(100% - 100px);
  top: 100px;
  margin: auto;
  max-width: 1000px;
  padding: 4%;
}

.summary{
  text-align: center;
}

.data_card{
  margin-left: auto !important;
  margin-right: auto !important;

}
#card_holder {
  /*direction: rtl;*/
  /*text-align: center !important;*/
  /*position: absolute;*/
  /*right: 0px;*/
  /*left: 0px;*/
  /*overflow: auto;*/
  /*height: calc(100% - 100px);*/
  /*margin: auto;*/
  /*max-width: 1000px;*/
  /*padding: 4%;*/
  /*top: 250px;*/
}
