@import "theme.css";

*:not(.icon) {
  font-family: var(--font-family) !important;
}

@media only screen and (max-width: 599px) {
  #pcData {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #mobileData {
    display: none;
  }
}

td,
th,
a,
table {
  text-align: center !important;
}

#table {
  position: absolute;
  right: 300px;
  left: 0px;
  overflow: auto;
  height: calc(100% - 100px);
  top: 100px;
  margin: auto;
  max-width: 1000px;
  padding: 4%;
}

.summary {
  text-align: center;
}

.data_card {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}


#card_holder {
  overflow: auto;
  height: calc(100% - 170px);
  top: 90px; 
  position: absolute;
  bottom: 80px;
  margin: auto;
  padding: 20px;
  right: 0px;
  left: 0px;
}

