@import "theme.css";

*:not(.icon) {
  font-family: var(--font-family) !important;
}

.body {
  overflow: hidden;
}

@media only screen and (max-width: 599px) {
  #pcData {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #mobileData {
    display: none;
  }
}

td,
th,
a,
table {
  text-align: center !important;
}

#table {
  position: absolute;
  right: 300px;
  left: 0px;
  overflow: auto;
  height: calc(100% - 100px);
  top: 100px;
  margin: auto;
  max-width: 1000px;
  padding: 4%;
}

.summary {
  text-align: center;
}

.data_card {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

#card {
  background-color: var(--color-card-back)
}

#card_holder {
  background-color: var(--color-grid);
  top: 90px;
  padding: 20px;
  position: fixed !important;
  overflow: auto;
  width: 100%;
  height: calc(100% - 80px);
  right: 0px;
  left: 0px;
  bottom: 80px !important;
}
