@import "theme.css";

:root {
  --font-size-mobile: 20px;
  --font-size-laptop:15px;
}

*:not(.icon) {
  font-family: var(--font-family) !important;
}

@media only screen and (max-width: 599px) {
  #pcHomepage {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #mobileHomepage {
    display: none;
  }
}

.body {
  background-color: var(--color-grid);
  overflow: hidden;
}

* {
  color: var(--font-color) !important;
}

#rightBar {
  position: fixed;
  padding: 20px;
  top: 90px;
  width: 300px;
  right: 0px;
  bottom: 0px;
  /* align-items: center;
  text-align: center; */
  z-index: 1;
  float: right;
  direction: rtl;
  background-color: var(--color-rightbar);
}

@media only screen and (max-width: 999px) {
  #fourColGrid {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #threeColGrid {
    display: none;
  }
}

.ui.segment {
  height: 100px;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

#card {
  border-radius: 2rem;
  box-shadow: none;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 0.3rem;
  border-color: var(--color-card-border);
  background-color: var(--color-card-back);
  transition: box-shadow 1.5s;
}

#card:hover {
  cursor: pointer;

  /* box-shadow: -5px -5px 10px 2px blue,
    5px 5px 10px 2px red, 5px -5px 10px 2px green,
    -5px 5px 10px 2px yellow; */

  box-shadow: -5px -5px 10px 2px var(--color-shadow),
    5px 5px 10px 2px var(--color-shadow), 5px -5px 10px 2px var(--color-shadow),
    -5px 5px 10px 2px var(--color-shadow);

  /* box-shadow: -5px -5px 10px 2px rgba(0, 0, 0, 0.2),
    5px 5px 10px 2px rgba(0, 0, 0, 0.2), 5px -5px 10px 2px rgba(0, 0, 0, 0.2),
    -5px 5px 10px 2px rgba(0, 0, 0, 0.2); */
}

#mobileGrid {
  background-color: var(--color-grid);
  top: 90px;
  padding: 20px;
  position: absolute;
  overflow: auto;
  right: 0px;
  left: 0px;
  bottom: 90px;
}

#fourColGrid {
  position: absolute;
  right: 300px;
  left: 0px;
  overflow: auto;
  height: calc(100% - 100px);
  top: 100px;
  margin: auto;
  max-width: 1000px;
  padding: 2%;
}

#threeColGrid {
  right: 300px;
  position: absolute;
  left: 0px;
  top: 100px;
  margin: auto;
  overflow: auto;
  height: calc(100% - 100px);
  max-width: 1000px;
  padding: 2%;
}

#gridContainer {
  right: 300px;
  position: absolute;
  left: 0px;
  top: 100px;
  margin: 10px;
}
