@import "theme.css";

@media only screen and (max-width: 999px) {
  #fourColGrid {
    display: none;
  }
}

@media only screen and (min-width: 999px) {
  #threeColGrid {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #threeColGrid {
    display: none;
  }

  #sidebar {
    max-height: calc(100% - 180px);
    bottom: 90px;
    position: fixed !important;
  }

  #rightBar {
    height: calc(100% - 180px);
    overflow: hidden;
  }
}

@media only screen and (min-width: 600px) {
  #mobileGrid {
    display: none;
  }

  #sidebar {
    right: 0 !important;
    bottom: 0px;
    float: right;
    max-height: calc(100% - 90px);
    position: fixed !important;
  }

  #rightBar {
    height: calc(100% - 90px);
    overflow: hidden;
  }

  #fourColGrid,
  #threeColGrid {
    background-color: var(--color-grid);
    position: absolute;
    right: 300px;
    left: 0px;
    overflow: auto;
    margin: auto;
    max-width: 1000px;
    top: 90px;
    padding: 5%;
  }
}

@media only screen and (min-width: 599px) {
  #mobileData {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #table {
    display: none;
  }
}

#sidebar {
  margin: 0 auto;
  width: 300px;
  top: 90px;
  padding: 20px;
  overflow: hidden;

  direction: rtl;
}

#rightBar {
  background-color: var(--color-rightbar);
  height: 100%;
  width: 300px;
  top: 0px;
  overflow: hidden;
  padding: 20px;
  position: fixed !important;
  /* bottom: 0px !important; */
  /* float: right; */
  direction: rtl;
}

.ui.segment {
  height: 100px;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

#card {
  border-radius: 2rem;
  box-shadow: none;
  height: 200px;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 0.3rem;
  border-color: var(--color-card-border);
  background-color: var(--color-card-back);
  transition: box-shadow 1.5s;
}

#card:hover {
  cursor: pointer;
  box-shadow: -5px -5px 10px 2px var(--color-shadow),
    5px 5px 10px 2px var(--color-shadow), 5px -5px 10px 2px var(--color-shadow),
    -5px 5px 10px 2px var(--color-shadow);
}

#mobileGrid {
  background-color: var(--color-grid);
  height: calc(100% - 170px);
  width: 100%;
  top: 90px;
  padding: 20px;
  position: fixed !important;
  overflow: auto;
  right: 0px;
  left: 0px;
  bottom: 80px !important;
  padding: 2%;
}

.body {
  background-color: var(--color-grid);
}

td,
th,
a,
table {
  text-align: center !important;
}

#table {
  position: absolute;
  right: 300px;
  left: 0px;
  overflow: auto;
  height: calc(100% - 100px);
  top: 100px;
  margin: auto;
  max-width: 1000px;
  padding: 4%;

  display: none;
}

.summary {
  text-align: center;
}

.data_card {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

#card {
  background-color: var(--color-card-back);
}

#mobileData {
  background-color: var(--color-grid);
  top: 90px;
  padding: 20px;
  position: fixed !important;
  overflow: auto;
  width: 100%;
  height: calc(100% - 80px);
  right: 0px;
  left: 0px;
  bottom: 80px !important;

  display: none;
}
