:root {
  --login-body: #d3e4ee;
  --login-tab: #ffffff;
  --login-tab_button_active: #ffffff;
  --login-tab_button: #3a6c8a;
  --login-tab_button_hover: #283238;
  --login-tab_button_hover_disable: #ffffff;
  --login-tab_button_active_font: #193d53;
  --login-tab_button_font: #ffffff;
  --login-submit_button: #035a8d;
  --login-submit_button_hover: #042f47;
  --login-submit_buttton_font: #ffffff;
  --login-field: #3a6c8a;
  --login-field_selected: #11232e;
  --login-link: #325e7a;
  --login-link_hover: #10202b;
  --login-chbox_font: #325e7a;
  --login-err_box: #f1d7d7;
  --login-err_box_font: #9f3a38;
}

:root.light {
  --login-body: #d3e4ee;
  --login-tab: #ffffff;
  --login-tab_button_active: #ffffff;
  --login-tab_button: #3a6c8a;
  --login-tab_button_hover: #283238;
  --login-tab_button_hover_disable: #ffffff;
  --login-tab_button_active_font: #193d53;
  --login-tab_button_font: #ffffff;
  --login-submit_button: #035a8d;
  --login-submit_button_hover: #042f47;
  --login-submit_buttton_font: #ffffff;
  --login-field: #a3a6a8;
  --login-field_selected: #030303;
  --login-link: #325e7a;
  --login-link_hover: #10202b;
  --login-chbox_font: #325e7a;
  --login-err_box: #f1d7d7;
  --login-err_box_font: #9f3a38;
}

:root.dark {
  --login-body: #e0e0e0;
  --login-tab: #272626;
  --login-tab_button_active: #272626;
  --login-tab_button: #a4a6a7;
  --login-tab_button_hover: #ffffff;
  --login-tab_button_hover_disable: #272626;
  --login-tab_button_active_font: #ffffff;
  --login-tab_button_font: #181818;
  --login-submit_button: #d6d7d8;
  --login-submit_button_hover: #ffffff;
  --login-submit_buttton_font: #0f0f0f;
  --login-field: #000000;
  --login-field_selected: #969696;
  --login-link: #3b3b3b;
  --login-link_hover: #0f0f0f;
  --login-chbox_font: #f1f1f1;
  --login-err_box: #f1d7d7;
  --login-err_box_font: #9f3a38;
}

body {
  font-family: sahel;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space:nowrap;
  background-color: var(--login-body);
}

a {
  cursor: pointer;
}

#lpshup {
  display: none;
}

#lbodycontainer {
  height: 100%;
  position: relative;
}

#lbacktohomelink {
  margin-top: 55px !important;
  padding-left: 10% !important;
  color: var(--login-link);
}

#lbacktohomelink:hover {
  color: var(--login-link_hover);
}

#lbcki {
  color: var(--login-link) !important;
}

#lbcki:hover {
  color: var(--login-link_hover) !important;
}

#limageid {
  max-width: 100%;
  height: auto;
}

#lmainicon {
  margin-top: 30px !important;
  min-height: 20px;
  max-height: auto;
  margin-right: 7%;
}

#lmainContainer {
  border-radius: 0px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#lraisedsegment {
  border-radius: 0px;
  margin: 0 auto;
  width: 1000px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#lpicframe {
  background-color: var(--login-tab);
  height: 470px;
  width: 100%;
  max-width: 668px;
  border: none;
}

#lformcontainer {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 470px;
  border: none;
  background-color: var(--login-tab);
  overflow: hidden;
  position: relative;
}

#ltabbtns {
  cursor: pointer;
  position: absolute;
}

#lsibtn {
  font-family: sahel;
  width: 165.5px;
  border-radius: 0px;
  background-color: var(--login-tab_button_active);
  color: var(--login-tab_button_active_font);
}

#lsibtn:hover {
  background-color: var(--login-tab_button_hover_disable);
}

#lsubtn {
  font-family: sahel;
  width: 165.5px;
  border-radius: 0px;
  background-color: var(--login-tab_button);
  color: var(--login-tab_button_font);
}

#lsubtn:hover {
  background-color: var(--login-tab_button_hover);
}

#lsisubbtn {
  background-color: var(--login-submit_button);
  color: var(--login-submit_buttton_font);
}

#lsisubbtn:hover {
  background-color: var(--login-submit_button_hover);
}

#lsusubbtn {
  background-color: var(--login-submit_button);
  color: var(--login-submit_buttton_font);
}

#lsusubbtn:hover {
  background-color: var(--login-submit_button_hover);
}

#lsignInForm {
  margin-left: 15px;
  margin-top: 150px;
  position: absolute;
}

#lsim {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--login-field);
  color: var(--login-field);
}

#lsim ::placeholder {
  color: var(--login-field);
}

#lsim:focus {
  border-color: var(--login-field_selected);
  color: var(--login-field_selected);
}

#lsim:focus::placeholder {
  color: var(--login-field_selected);
}

#lsip {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  margin-top: 10px;
  border-color: var(--login-field);
  color: var(--login-field);
}

#lsip ::placeholder {
  color: var(--login-field);
}

#lsip:focus {
  border-color: var(--login-field_selected);
  color: var(--login-field_selected);
}

#lsip:focus::placeholder {
  color: var(--login-field_selected);
}

#lsisubbtn {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  margin-top: 10px;
}

#lsierrmsg {
  margin-top: 25px;
  width: 300px;
  display: none;
  background-color: var(--login-err_box);
  border-width: 1px;
  border-style: solid;
  border-color: var(--login-err_box_font);
  color: var(--login-err_box_font);
  padding-bottom: 1px;
  padding-top: 1px;
}

#lsicli {
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

#lsierrlist {
  font-family: sahel;
}

#lsignUpForm {
  margin-left: 345px;
  margin-top: 110px;
  position: absolute;
}

#lsum {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--login-field);
  color: var(--login-field);
}

#lsum ::placeholder {
  color: var(--login-field);
}

#lsum:focus {
  border-color: var(--login-field_selected);
  color: var(--login-field_selected);
}

#lsum:focus::placeholder {
  color: var(--login-field_selected);
}

#lsup {
  margin-top: 8px;
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--login-field);
  color: var(--login-field);
}

#lsup ::placeholder {
  color: var(--login-field);
}

#lsup:focus {
  border-color: var(--login-field_selected);
  color: var(--login-field_selected);
}

#lsup:focus::placeholder {
  color: var(--login-field_selected);
}

#lsurp {
  margin-top: 8px;
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--login-field);
  color: var(--login-field);
}

#lsurp ::placeholder {
  color: var(--login-field);
}

#lsurp:focus {
  border-color: var(--login-field_selected);
  color: var(--login-field_selected);
}

#lsurp:focus::placeholder {
  color: var(--login-field_selected);
}

#lsuchbox {
  margin-right: 15px;
  margin-top: 8px;
  cursor: default;
}

#lchbox:checked + label {
  color: var(--login-field_selected);
}

#lchbox[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px var(--login-field) !important;
}

#lchl {
  font-family: sahel;
  color: var(--login-chbox_font);
}

#lchl:hover {
  color: var(--login-field_selected);
}

#lsusubbtn {
  margin-top: 8px;
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
}

#lsuerrmsg {
  margin-top: 25px;
  width: 300px;
  display: none;
  background-color: var(--login-err_box);
  border-width: 1px;
  border-style: solid;
  border-color: var(--login-err_box_font);
  color: var(--login-err_box_font);
  padding-bottom: 1px;
  padding-top: 1px;
}

#lsucli {
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

#lsuerrlist {
  font-family: sahel;
}
