:root {
  --body: #d3e4ee;
  --tab: #ffffff;
  --tab_button_active: #ffffff;
  --tab_button: #3a6c8a;
  --tab_button_hover: #283238;
  --tab_button_hover_disable: #ffffff;
  --tab_button_active_font: #193d53;
  --tab_button_font: #ffffff;
  --submit_button: #035a8d;
  --submit_button_hover: #042f47;
  --submit_buttton_font: #ffffff;
  --field: #3a6c8a;
  --field_selected: #11232e;
  --link: #325e7a;
  --link_hover: #10202b;
  --chbox_font: #325e7a;
  --err_box: #f1d7d7;
  --err_box_font: #9f3a38;
}

:root.light {
  --body: #d3e4ee;
  --tab: #ffffff;
  --tab_button_active: #ffffff;
  --tab_button: #3a6c8a;
  --tab_button_hover: #283238;
  --tab_button_hover_disable: #ffffff;
  --tab_button_active_font: #193d53;
  --tab_button_font: #ffffff;
  --submit_button: #035a8d;
  --submit_button_hover: #042f47;
  --submit_buttton_font: #ffffff;
  --field: #a3a6a8;
  --field_selected: #030303;
  --link: #325e7a;
  --link_hover: #10202b;
  --chbox_font: #325e7a;
  --err_box: #f1d7d7;
  --err_box_font: #9f3a38;
}

:root.dark {
  --body: #e0e0e0;
  --tab: #272626;
  --tab_button_active: #272626;
  --tab_button: #a4a6a7;
  --tab_button_hover: #ffffff;
  --tab_button_hover_disable: #272626;
  --tab_button_active_font: #ffffff;
  --tab_button_font: #181818;
  --submit_button: #d6d7d8;
  --submit_button_hover: #ffffff;
  --submit_buttton_font: #0f0f0f;
  --field: #000000;
  --field_selected: #969696;
  --link: #3b3b3b;
  --link_hover: #0f0f0f;
  --chbox_font: #f1f1f1;
  --err_box: #f1d7d7;
  --err_box_font: #9f3a38;
}

body {
  font-family: sahel;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space:nowrap;
  background-color: var(--body);
}

a {
  cursor: pointer;
}

#lpshup {
  display: none;
}

#bodycontainer {
  height: 100%;
  position: relative;
}

#backtohomelink {
  margin-top: 55px !important;
  padding-left: 10% !important;
  color: var(--link);
}

#backtohomelink:hover {
  color: var(--link_hover);
}

#bcki {
  color: var(--link) !important;
}

#bcki:hover {
  color: var(--link_hover) !important;
}

#imageid {
  max-width: 100%;
  height: auto;
}

#mainicon {
  margin-top: 30px !important;
  min-height: 20px;
  max-height: auto;
  margin-right: 7%;
}

#mainContainer {
  border-radius: 0px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#raisedsegment {
  border-radius: 0px;
  margin: 0 auto;
  width: 1000px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#picframe {
  background-color: var(--tab);
  height: 470px;
  width: 100%;
  max-width: 668px;
  border: none;
}

#formcontainer {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 470px;
  border: none;
  background-color: var(--tab);
  overflow: hidden;
  position: relative;
}

#tabbtns {
  cursor: pointer;
  position: absolute;
}

#sibtn {
  font-family: sahel;
  width: 165.5px;
  border-radius: 0px;
  background-color: var(--tab_button_active);
  color: var(--tab_button_active_font);
}

#sibtn:hover {
  background-color: var(--tab_button_hover_disable);
}

#subtn {
  font-family: sahel;
  width: 165.5px;
  border-radius: 0px;
  background-color: var(--tab_button);
  color: var(--tab_button_font);
}

#subtn:hover {
  background-color: var(--tab_button_hover);
}

#sisubbtn {
  background-color: var(--submit_button);
  color: var(--submit_buttton_font);
}

#sisubbtn:hover {
  background-color: var(--submit_button_hover);
}

#susubbtn {
  background-color: var(--submit_button);
  color: var(--submit_buttton_font);
}

#susubbtn:hover {
  background-color: var(--submit_button_hover);
}

#signInForm {
  margin-left: 15px;
  margin-top: 150px;
  position: absolute;
}

#sim {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--field);
  color: var(--field);
}

#sim ::placeholder {
  color: var(--field);
}

#sim:focus {
  border-color: var(--field_selected);
  color: var(--field_selected);
}

#sim:focus::placeholder {
  color: var(--field_selected);
}

#sip {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  margin-top: 10px;
  border-color: var(--field);
  color: var(--field);
}

#sip ::placeholder {
  color: var(--field);
}

#sip:focus {
  border-color: var(--field_selected);
  color: var(--field_selected);
}

#sip:focus::placeholder {
  color: var(--field_selected);
}

#sisubbtn {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  margin-top: 10px;
}

#sierrmsg {
  margin-top: 25px;
  width: 300px;
  display: none;
  background-color: var(--err_box);
  border-width: 1px;
  border-style: solid;
  border-color: var(--err_box_font);
  color: var(--err_box_font);
  padding-bottom: 1px;
  padding-top: 1px;
}

#sicli {
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

#sierrlist {
  font-family: sahel;
}

#signUpForm {
  margin-left: 345px;
  margin-top: 110px;
  position: absolute;
}

#sum {
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--field);
  color: var(--field);
}

#sum ::placeholder {
  color: var(--field);
}

#sum:focus {
  border-color: var(--field_selected);
  color: var(--field_selected);
}

#sum:focus::placeholder {
  color: var(--field_selected);
}

#sup {
  margin-top: 8px;
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--field);
  color: var(--field);
}

#sup ::placeholder {
  color: var(--field);
}

#sup:focus {
  border-color: var(--field_selected);
  color: var(--field_selected);
}

#sup:focus::placeholder {
  color: var(--field_selected);
}

#surp {
  margin-top: 8px;
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
  border-color: var(--field);
  color: var(--field);
}

#surp ::placeholder {
  color: var(--field);
}

#surp:focus {
  border-color: var(--field_selected);
  color: var(--field_selected);
}

#surp:focus::placeholder {
  color: var(--field_selected);
}

#suchbox {
  margin-right: 15px;
  margin-top: 8px;
  cursor: default;
}

#chbox:checked + label {
  color: var(--field_selected);
}

#chbox[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px var(--field) !important;
}

#chl {
  font-family: sahel;
  color: var(--chbox_font);
}

#chl:hover {
  color: var(--field_selected);
}

#susubbtn {
  margin-top: 8px;
  width: 300px;
  border-radius: 0px;
  font-family: sahel;
}

#suerrmsg {
  margin-top: 25px;
  width: 300px;
  display: none;
  background-color: var(--err_box);
  border-width: 1px;
  border-style: solid;
  border-color: var(--err_box_font);
  color: var(--err_box_font);
  padding-bottom: 1px;
  padding-top: 1px;
}

#sucli {
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

#suerrlist {
  font-family: sahel;
}
