@import "theme.css";

*:not(.icon) {
  font-family: var(--font-family) !important;
}

.ui.header {
  color: white;
}
.ui.toggle.checkbox input:checked ~ .box,
.ui.toggle.checkbox input:checked ~ label {
  color: white !important;
}

.ui.list .list > .item a.header,
.ui.list > .item a.header {
  color: white !important;
}

label {
  color: white !important;
}

#rightBar {
  /* position: fixed;
  padding: 20px;
  top: 90px;
  width: 300px;
  right: 0px;
  bottom: 0px;
  z-index: 1;

  direction: rtl;
  background-color: var(--color-rightbar); */

  background-color: var(--color-rightbar);
  height: calc(100% - 80px);
  width: 300px;
  top: 90px;
  padding: 20px;
  position: fixed !important;
  right: 0px;
  left: 0px;
  bottom: 0px !important;
  float: right;
  direction: rtl;
}
