.theme-light {
  --color-header: #6BBB9C;
  --color-grid: #7B5D5E70;
  --color-itemHover: #EBD083;
  --color-shadow: white;
  --color-rightbar: #EBD083;
  --color-button: #FE6E78;
  --color-card-border: #6BBB9C;
  --color-card-back: #EBD083;
  
  --a-color: #7B5D5E;
  --icon-color:#7B5D5E;
  --title-color: #FE6E78;
  --font-color: white;
  --font-family: sahel;

}

.theme-dark {
  --color-header: #18435A;
  --color-grid: #16324F;
  --color-itemHover: #3E92CC;
  --color-shadow: #0094d3af;
  --color-rightbar: #005073;
  --color-button: #007db3;
  --color-card-border: #007db3;
  --color-card-back: #2A628F;

  --font-color: white;
  --title-color: #141B41;
  --font-family: sahel;
  --a-color: #98B9F2;
  --icon-color: white;

}
:root.dark {
  --login-body: #16324F;
  --login-tab: #98B9F2;
  --login-tab_button_active: #98B9F2;
  --login-tab_button: #306BAC;
  --login-tab_button_hover: #283238;
  --login-tab_button_hover_disable: #ffffff;
  --login-tab_button_active_font: #193d53;
  --login-tab_button_font: #ffffff;
  --login-submit_button: #035a8d;
  --login-submit_button_hover: #042f47;
  --login-submit_buttton_font: #ffffff;
  --login-field: #3a6c8a;
  --login-field_selected: #11232e;
  --login-link: #325e7a;
  --login-link_hover: #10202b;
  --login-chbox_font: #325e7a;
  --login-err_box: #f1d7d7;
  --login-err_box_font: #9f3a38;

}



/* for login */
:root {
  --login-body: #6BBB9C;
  --login-tab: #EBD083;
  --login-tab_button_active: #EBD083;
  --login-tab_button: #FE6E78;
  --login-tab_button_hover: #FE6E78;
  --login-tab_button_hover_disable: #FE6E78;
  --login-tab_button_active_font: #7B5D5E;
  --login-tab_button_font: white;
  --login-submit_button: #FE6E78;
  --login-submit_button_hover: #f55661;
  --login-submit_buttton_font: white;
  --login-field: #3a6c8a;
  --login-field_selected: #030303;
  --login-link: white;
  --login-link_hover: #10202b;
  --login-chbox_font: #7B5D5E;
  --login-err_box: #f1d7d7;
  --login-err_box_font: #9f3a38;
}

