.theme-light {
  --color-header: #6BBB9C;
  --color-grid: #7B5D5E70;
  --color-itemHover: #EBD083;
  --color-shadow: white;
  --color-rightbar: #EBD083;
  --color-button: #FE6E78;
  --color-card-border: #6BBB9C;
  --color-card-back: #EBD083;
  
  --a-color: #7B5D5E;
  --icon-color:#7B5D5E;
  --font-color: white;
  --font-family: sahel;

}

/*
#EBD083

#6BBB9C

#FE6E78*/

.theme-dark {
  --color-header: #595959;
  --color-grid: #363636;
  --color-itemHover: #919191;
  --color-shadow: #0094d3af;
  --color-rightbar: #005073;
  --color-button: #007db3;
  --color-card-border: #007db3;
  --color-card-back: rgba(233, 233, 233, 0.705);
  --font-color: white;
  --font-family: sahel;
  --a-color: white;
  --icon-color: white;

}
